@model DigitalCanteen.Models.Entities.AccountDetail

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AccountDetail</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            @Html.LabelFor(model => model.InitialBalance, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InitialBalance)
                @Html.ValidationMessageFor(model => model.InitialBalance)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Balance, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Balance)
                @Html.ValidationMessageFor(model => model.Balance)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Refil, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Refil)
                @Html.ValidationMessageFor(model => model.Refil)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
